@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Vampiro+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* slider styles here */

@media (min-width: 560px) {
  .categories .slick-slide {
    padding: 0 10px !important;
  }
  .categories .slick-list {
    padding: 0 -10px !important;
  }
}
.slider-overlay {
  display: none;
}
@media (min-width: 1200px) {
  .slider-overlay {
    display: inline-block;
  }
}

.categories .slick-list {
  height: 460px !important;
}
.slick-slide {
  height: 100% !important;
}

/* faq accordion styles */
.Mui-expanded .MuiAccordion-region {
  background-color: #fff !important;
  transition: ease-in 0.2s !important;
  border-radius: 4px !important;
}
.MuiAccordion-root .Mui-expanded {
  background-color: #fff !important;
  transition: ease-in 0.2s !important;
  border-radius: 4px !important;
}
.MuiAccordion-gutters {
  margin: 1rem 0 !important;
}
.MuiAccordion-root::before {
  display: none !important;
}

.MuiAccordion-root {
  background-color: #f8f4f2;
  border: 2px solid #d85464;
  border-radius: 4px !important;
  /* padding: 12px !important; */
}
