@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Vampiro+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* slider styles here */

@media (min-width: 560px) {
  .categories .slick-slide {
    padding: 0 10px !important;
  }
  .categories .slick-list {
    padding: 0 -10px !important;
  }
}
.slider-overlay {
  display: none;
}
@media (min-width: 1200px) {
  .slider-overlay {
    display: inline-block;
  }
}

.categories .slick-list {
  height: 460px !important;
}
.slick-slide {
  height: 100% !important;
}
